* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.header {
  position: absolute;
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  z-index: 1;
  margin: 15px;
}

#hsa-logo {
  top: 2vh;
  right: 42vw;
  height: 15vh;
  object-fit: contain;
  filter: brightness(100%);
}

#novotrend-logo {
  /* top: 6vh; */
  margin-top: 5vh;
  /* right: 22vw; */
  margin-left: 2vw;
  height: 5vh;
  object-fit: contain;
  filter: brightness(100%);
}

.flags {
  position: absolute;
  height: 10vh;
  top: 2vh;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#imglng {
  border-radius: 15px;
}

#imglng {
  filter: brightness(80%);
  height: 10vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

#back-button {
  text-align: left;
  float: left;
  padding: 3%;
  font-size: 200%;
  text-decoration: underline;
}

#back-button:hover {
  cursor: pointer;
  color: rgb(185, 185, 185);
}