.settings-container {
    text-align: center;
    margin: 50px;
    color: white;
  }
  
  .settings-container h2 {
    margin-bottom: 40px;
  }
  
  .settings-item {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settings-item label {
    margin-right: 20px;
    font-size: 1.5rem;
  }
  
  .settings-item input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .settings-item button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .settings-item button:hover {
    background-color: #444;
  }
  
  .back-button {
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #444;
  }
  