
 body {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

  h2 {
    margin-bottom: 40px;
  }
  
  .settings-item {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settings-item label {
    margin-right: 20px;
    font-size: 1.5rem;
  }
  
  .settings-item input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .settings-item button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .settings-item button:hover {
    background-color: #444;
  }

  .itemContainer {
    position: relative;
    height: 70vh; 
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    flex-direction: column; /* Stapelt die Elemente vertikal */
  }

  h2{
    text-align: center;
    font-size: 30px;
}

/* Styles für den Schalter (Toggle-Switch) */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;  /* Runde Ecken */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;  /* Runde Form */
}

input:checked + .slider {
  background-color: #2196F3;  /* Farbe, wenn der Schalter eingeschaltet ist */
}

input:checked + .slider:before {
  transform: translateX(26px);  /* Verschiebt den runden Teil auf die rechte Seite */
}
